.w .main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}
.w .main .focus {
    position: relative;
    width: 720px;
    height: 455px;
    background-color: purple;
}
.w .main .newsflash {
    width: 250px;
    height: 455px;
}
.pl,
.pr {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 45px;
    background-color: rgba(0, 0, 0, .3);
    font-family: "icomoon";
    text-align: center;
    line-height: 45px;
}
.pl:hover,
.pr:hover {
    background-color: rgba(0, 0, 0, .4);
}
.pr {
    right: 0;
}
.points {
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: 15px;
    background-color: rgba(0, 0, 0, .4);
    width: 100px;
    height: 20px;
    border-radius: 10px;
}
.points li {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: 5px;
    margin-left: 8px;
}
ul li .points-red {
    background-color: #c81623;
}
.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}
.lifeservice {
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    overflow: hidden;
}
.bargain {
    margin-top: 5px;
}
.news-hd {
    padding: 0 15px;
    height: 33px;
    border-bottom: 1px dotted #e4e4e4;
}
.news-hd h5 {
    font-size: 14px;
    line-height: 33px;
}
.news-hd a {
    line-height: 33px;
}
.news-hd a::after {
    content: "\e920";
    font-family: "icomoon";
    margin-left: 5px;
}
.news-bd {
    padding-top: 5px;
}
.news-bd ul li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  /* 溢出省略号 */
    height: 24px;
    line-height: 24px;
    margin-left: 15px;
}
.lifeservice ul {
    width: 252px;
}
.lifeservice ul li {
    float: left;
    width: 63px;
    height: 73px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) -19px -15px ;
}
.recommend {
    height: 163px;
    margin-top: 12px;
    background-color: #ebebeb;
}
.recom-hd {
    width: 205px;
    height: 163px;
    float: left;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}
.recom-bd {
    float: left;
}
.recom-bd li {
    position: relative;
    float: left;
}
.recom-bd li img {
    width: 248px;
    height: 163px;
}
.recom-bd li:nth-child(-n+3)::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}
.think {
    height: 273px;
    margin-top: 20px;
}
.think-hd {
    height: 40px;
    background-color: #ffffff;
    padding-right: 20px;
    border-bottom: 1px solid #ededed;
}
.think-hd h4 {
    float: left;
    font-size: 18px;
    line-height: 40px;
    font-weight: 400;
}
.think-hd i {
    float: right;
    line-height: 40px;
    font-size: 12px;
    color: #666666;
} 
.think-hd i::after {
    content: "\ea2e";
    font-family: "icomoon";
    margin-left: 8px;
}
.think-hd a:hover i {
    color: #c81623;
}
.think-bd {
    height: 232px;
    border: 1px solid #ededed;
    border-top: 0;
}
.think-bd li {
    position: relative;
    float: left;
    height: 232px;
    width: 199px;
    text-align: center;
    padding-top: 20px;
}
.think-txt {
    position: relative;
    width: 120px;
    height: 32px;
    margin-left: 25px;
}
.think-txt strong {
    position: absolute;
    top: 38px;
    left: 0px;
    color: #c81623;
    font-size: 16px;
    font-weight: 500;
}
.think-bd li:nth-child(-n+5)::after {
    content: "";
    width: 1px;
    height: 63px;
    background-color: #ededed;
    position: absolute;
    right: 0;
    bottom: 10px;
}